.cabecalho{
    background-color: black;
    color: azure;
    display: flex;
    padding: 24px 0;   
}

.section1{
   background-color: brown; 
padding: 100px;   
}

.section2{
    background-color: blue;
    100px
}

.cabecalho-imagem{
    width:10% ;
}

.rodape{
    background-color: black;
}
